@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@600;700&family=Poppins:wght@400;600;700&display=swap');
:root{
    --body-color:hsl(210, 3%, 13%);
    --primary-color:hsl(40, 81%, 71%);
    --secondary-color:hsl(21, 54%, 38%);
    --text-color:hsl(0, 0%, 93%);
    --dishes-background:hsl(0, 0%, 16%);
    --btn-color:hsl(21, 89%, 59%);
    --small-text-color:hsl(0, 3%, 86%);

    --body-font: 'Poppins', sans-serif;
    --title-font: 'Cinzel', serif;

    --font-bold:700;
    --font-semi-bold:500;

    --bigger-font-size:3rem;
    --big-font-size:1.5rem;
    --normal-font-size:1rem;
    --small-font-size:.850rem;
    --btn-font-size:1.25rem;

    --mb-05:.5rem;
    --mb-1:1rem;
    --mb-2:2rem;
    --mb-3:3rem;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: var(--text-color);
}
ul{
    list-style: none;
}
img{
    max-width: 100%;
    display: block;
}
h1{
    font-weight: var(--body-font);
    font-size: var(--bigger-font-size);
    text-transform: uppercase;
    font-family: var(--title-font);
    margin-bottom: var(--mb-1);
}
h2{
    font-weight: var(--font-semi-bold);
    font-size: var(--big-font-size);
    text-transform: uppercase;
    font-family: var(--title-font);
    margin-bottom: var(--mb-2);
}
h3{
    font-weight: var(--font-semi-bold);
    text-transform: uppercase;
    font-family: var(--title-font);
    margin-bottom: var(--mb-1);
    font-size: var(--normal-font-size);
}
.container{
    max-width: 1024px;
    margin: auto;
    padding-right: var(--mb-05);
    padding-left: var(--mb-05);
}
.section{
    padding: 5rem 0 3rem;
}
.grid{
    display: grid;
}
.highlight{
    color: var(--secondary-color);
}
.active::before{
    content: "";
    position: absolute;
    background-color: var(--primary-color);
    width: 100%;
    height: 1px;
    bottom: 0;
}
.span__column {
    grid-column: span 2;
}
body{
    background-color: var(--body-color);
    font-size: var(--normal-font-size);
    font-family: var(--body-font);
    line-height: 1.5rem;
    color: var(--text-color);
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100' height='199' viewBox='0 0 100 199'%3E%3Cg fill='%23f1c979' fill-opacity='0.26'%3E%3Cpath d='M0 199V0h1v1.99L100 199h-1.12L1 4.22V199H0zM100 2h-.12l-1-2H100v2z'%3E%3C/path%3E%3C/g%3E%3C/svg%3E");
}
.nav{
    height: 4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__logo,
.footer__logo{
    font-family: var(--title-font);
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    color: var(--primary-color);
    text-underline-position: under;
    text-align: center;
    text-decoration: underline;
}
.nav__list{
    display: flex;
    column-gap: 1.5rem;
}
.nav__item{
    position: relative;
}

.chef__container,
.about__container,
.hero__container,
.bookTable__container,
.dishes__container{
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2.5rem;
    place-items: center;
}
.hero__title{
    line-height: 4rem;
}
.btn__message{
    width: 30%;
    background-color: transparent;
    border: 1px solid var(--btn-color);
    text-transform: uppercase;
}
.btn__reservation:hover,
.btn__message:hover{
    background-color: var(--btn-color);
}
.btn__hero,
.btn__bookTable{
    display: inline-block;
    padding: 15px 45px;
    text-transform: uppercase;
    border-radius: 10px;
    background-color: var(--btn-color);
    border: none;
    color: var(--text-color);
}
.btn__hero:hover,
.btn__bookTable:hover{
    transform: translateY(-0.25em);
}
.hero__description,
.bookTable__description{
    margin-bottom: var(--mb-2);
}
.special__item{
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.special__item_description{
    font-size: var(--small-font-size);
}

.special__item:hover{
    background-color: var(--primary-color);
    color: #111;
}

.special__title{
    text-align: center;
}
.menu__ensaladas__title,
.chef__title,
.reservation__title,
.dessert__title,
.special__description,
.dishes__title{
    text-align: center;
    padding-bottom: 4rem;
}
.info__container,
.special__container{
   grid-template-columns: repeat(4, 1fr);
   column-gap: 1rem;
   text-align: center;
}
.special__img{
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    filter: brightness(0.8);
    width: 150px;
    margin-bottom: var(--mb-1);
}
.special__subtitle{
    margin-bottom: var(--mb-1);
    letter-spacing: 1.5px;
}

.dishes__container{
    gap: 2.5rem;
    place-items: self-end;
}
.dishes__item{
    display: flex;
    align-items: center;
    column-gap: 1rem;
    position: relative;
    margin-bottom: 5rem;
}
.dishes__data{
    background: var(--dishes-background);
    padding: 1rem 1rem 1rem 6rem;
    border-radius: 0.5rem;
}
.dishes__img{
    width: 150px;
    position: absolute;
    right: 80%;
}
.dishes_dessert_img,
.dishes_coctel_img{
    width: 140px;
    position: absolute;
    right: 80%;
    border-radius: 50%;
    aspect-ratio: 1/1;
}
.dishes__info{
    display: flex;
    justify-content: space-between;
    position: relative;
}
.dishes__subtitle{font-size: 1rem;}
.bookTable__img{
    width: 100%;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 100%;
    transition: all 0.3s ease-in-out;
    background-image: url(../images/table.jpg);
    border-radius: var(--mb-05);
}
.offer__background:hover,
.bookTable__img:hover{
    background-size: 110%;
}
.separator__container {
    grid-template-columns: repeat(4, 1fr);
}
.separator__img{
    aspect-ratio: 1/1;
    object-fit: cover;
    filter: brightness(0.8);
}

.footer__data p:not(:last-child){
    margin-bottom: var(--mb-1);
}
.footer__links{
    margin-bottom: var(--mb-1);
}
.footer__link{
    text-transform: uppercase;
}
.bx{
    font-size: 1.5rem;
}
.footer__container{
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
}
.footer__link{
    margin-right: var(--mb-1);
}
.footer__link:hover,
.footer__icon:hover{
    color: var(--secondary-color);
}
.footer__copy{
    text-align: center;
    padding: 5rem 0 0;
}
.footer__arrow-up{
    position: relative;
}
.footer__arrow{
    position: absolute;
    right: 3%;
    background-color: var(--btn-color);
    border-radius: 50%;
    display: flex;
    padding: 0.5rem;
}
.dessert__container{
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}
.offer__background{
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;   
    filter: brightness(0.8);
    min-height: 200px;
    transition: all 0.3s ease-in-out;
}
.offer__shadow{
    box-shadow: inset 0px -37px 42px 0px var(--body-color);
}
.offer__item_1{
    background-image: url(../images/menu/dessert1.jpg);
    display: flex;
    align-items: flex-end;
    border-top-left-radius: var(--mb-05);
}
.offer__item_2{
    background-image: url(../images/menu/dessert2.jpg);
    display: flex;
    align-items: flex-end;
    border-top-right-radius: var(--mb-05);
}
.offer__item_3{
    background-image: url(../images/menu/dessert4.jpeg);
    display: flex;
    align-items: flex-end;
    border-bottom-left-radius: var(--mb-05);
}
.offer__item_4{
    background-image: url(../images/menu/dessert5.jpg);
    display: flex;
    align-items: flex-end;
    grid-column: 2/4;
}
.offer__item_5{
    background-image: url(../images/menu/dessert3.jpg);
    display: flex;
    align-items: flex-end;
    border-bottom-right-radius: var(--mb-05);
}
.dessert__data{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: .5rem;
}
.offer__subtitle,
.offer__price{
    font-size: 1rem;
    margin: 0;
}
.message__container,
.reservation__group{
    grid-template-columns: repeat(2 , 1fr);
    gap: 1.5rem;
    margin-bottom: var(--mb-2);
}
label{
    display: block;
}
input{
    height: 2.2rem;
    width: 100%;
    padding: 0.2rem 0.5rem;
    outline: none;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
textarea{
    width: 100%;
    height: 100px;
    outline: none;
    padding: 0.2rem 0.5rem;
    background-color: transparent;
    border: 1px solid white;
    color: white;
}
.btn__reservation{
    margin: 0 auto;
    display: block;
    width: 30%;
    outline: none;
    color: var(--text-color);
    border: none;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid var(--btn-color);
    text-transform: uppercase;
}
.location__data,
.about__data{
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
    text-align: center;
}
.message__data{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.message__decription{
    margin-bottom: var(--mb-2);
}
.message__w{
    display: flex;
    margin-bottom: var(--mb-1);
}
.message__e{
    display: flex;
}
.info{
    background-image: url(../images/historia/info.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    filter: brightness(0.8);
    padding: 4rem;
}
.info__item{
    filter: brightness(1);
}
.info__span{
    font-size: 3rem;
    font-weight: var(--font-bold);
    color: var(--primary-color);
    margin-bottom: var(--mb-2) ;
    display: inline-block;
}
.info__description{text-transform: uppercase; font-weight: var(--font-semi-bold);}
.chef__item{
    text-align: center;
}
.chef__img{
    width: 350px;
    margin-bottom: var(--mb-2);
    box-shadow: -23px 20px 0px -5px rgb(241, 201, 121);
}
.location__map{
    order:2;
    width: 100%;
}

.grid__gallery {
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: 150px;
  grid-auto-flow: row dense;
}

.item {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  grid-column-start: auto;
  grid-row-start: auto;
  background:  url(../images/galeria/gallery_5.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: transform 0.3s ease-in-out;
  counter-increment: item-counter;
  filter: brightness(0.8);
} 
.item:nth-of-type(2n) {
    background-image: url(../images/galeria/gallery_8.jpg);
}
  .item:nth-of-type(3n) {
    background-image: url(../images/galeria/gallery_1.jpg);
  }
  
  .item:nth-of-type(4n) {
    background-image: url(../images/galeria/gallery_2.jpg);
  }
  
  .item:nth-of-type(5n) {
    background-image: url(../images/galeria/gallery_3.jpg);
  }
  
  .item:nth-of-type(6n) {
    background-image: url(../images/galeria/gallery_4.jpg);
  }
  
  .item:hover {
    transform: scale(1.05);   
  }
  .item:after {
    opacity: 0;
  }
  .item--medium {
    grid-row-end: span 2;
  }

  .item--large {
    grid-row-end: span 3;
  }

  .item--full {
    grid-column-end: auto;   
  }

  @media screen and (min-width: 768px) {
    .item--full{
        grid-column: 1/-1;
        grid-row-end: span 2;
    }
  }

  .message__input:not(:last-child){
    margin-bottom: var(--mb-1);
  }

  .message__icon{
    margin-right: 0.5rem;
    color: var(--secondary-color);
  }
.dishes__price{
    margin-left: 1rem;
}
.offer__container{
    display: flex;
    align-items:center ;
    justify-content: space-between;
    background-color: var(--btn-color);
    border-radius: .5rem;
    padding: 1rem 1.5rem;
}
.offer__title{
    font-size: 2rem;
    line-height: 3rem;
    font-weight: var(--font-bold);
}
.offer__img{
    width: 300px;
}
